.about2 .section-heading {
	display: inline-block;
}
.about2 .container {
	overflow:hidden;
	position: relative;
	min-height: 100vh;
	
}
.about2 {
	margin: 0 auto;
}
.about2 .section-heading h2{
	color: #303030;
	font-size: 2.5rem;
	font-weight: 400;
	line-height: 1;
	margin: 0;
}

.about2 .section-heading p{
	color: #979797;
	font-size: 1.0625rem;
	line-height: 1.2941;
	
}

.about2 .section-heading {
	background-color: #fff;
	padding: 50px 5px 300px 600px;
	border-radius: 3px 3px 0 5px;
	border-right: 1px solid  #ea4c89;
	border-top: 1px solid  #ea4c89;
	
}
.about2 a {
	padding: 25px;
	display: inline-block;
	color: #ea4c89;
	border: 5px solid #ea4c89;
	border-radius: 25px;
	transition: 0.9s;
}
.about2 a:hover {
	@extend .hover-sizing;
}
.breaking_bad {
	position: absolute;
	left: 10%;
	bottom: 0%;
}
.friends {
	position: absolute;
	left: 0%;
	transform:translate(-10%, 15%); 
	bottom: 0;	
}

.ofice {
	position: absolute;
	left: 47%;
	bottom: -5%;
}
.got {
	position: absolute;
	left: 55%;
	bottom: -6%;
}
