.about2 .section-heading {
	display: inline-block;
}
.about2 .container {
	overflow:hidden;
	position: relative;
	min-height: 110vh;
	
}
.about2 {
	margin: 0 auto;
}
.about2 .section-heading h2{
	color: #303030;
	font-size: 2.5rem;
	font-weight: 400;
	line-height: 1;
	margin: 0;
	

}

.about2 .section-heading p{
	color: #979797;
	font-size: 1.0625rem;
	line-height: 1.2941;
	
}

.about2 .section-heading {
	background-color: #fff;
	padding: 4.125rem 1.562rem 0 37.5rem;
	border-radius: .937rem 3.125rem 0 3.125rem;
	border-right: .125rem solid  #ea4c89;
	border-top: .312 solid  #ea4c89;
	min-height: 100vh;
}
.about2 a {
	padding: 1.562rem;
	display: inline-block;
	color: #ea4c89;
	border: .312rem solid #ea4c89;
	border-radius: 1.875rem;
	transition: 0.9s;
}
.about2 a:hover {
	@include hover-sizing();
}
.breaking_bad {
	position: absolute;
	left: 10%;
	bottom: 0%;
}
.friends {
	position: absolute;
	left: 0%;
	transform:translate(-10%, 15%); 
	bottom: 0;	
}

.ofice {
	position: absolute;
	left: 47%;
	bottom: -5%;
}
.got {
	position: absolute;
	left: 55%;
	bottom: -6%;
}
