.antras {
  background-color: white;
}
.antras .container {
  flex-wrap:wrap;
  justify-content:center;
  position: relative;
  background-color: #FFFFFF;

}
.sorting {
  width: 100%;
}
.sorting_poz {
  justify-content:flex-end;
}
.custom_select value {
  border-radius: 5px;
}
.picture {
  margin: 9px;
  padding: 10px;
  width: 30%;
  flex-direction:row;
  border-left: 1px solid #14af8f;
  border-top: 1px solid #14af8f;
  background-color: white;
  border-radius: 5px;
  @extend .box-shadow1; 
  

}
.picture_img{
  position: relative;
  width: 70%;
  margin: 0;

}
.picture_text{
	width: 30%;
}
.picture img {
	width: 100%;
  border-radius: 5px;
  display: block;
}
.imdb-logo {
  font: 1.5em Impact, HelveticaNeue-CondensedBold, sans-serif; // change the font size to whatever
  color: #000;
  text-shadow: 0 0 2px #fff;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 1px 1px;
  border-radius: 2px;
  background: radial-gradient(#ffffb8, #ce981d);
  margin: 1px;

  &:hover {
    background: radial-gradient(lighten(#ffffb8, 10%), lighten(#ce981d, 10%));
    @extend .hover-sizing;
  }

}

.picture h2{
  text-align: center;
}
.button_youtube {
   background-color: white;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 ;
    cursor: zoom-in;
    transition: transform .8s;
}
.button_youtube:hover {
    @extend .hover-sizing;
}
.overlay {
  position: absolute; 
  top: 15%; 
  color: #ff4d4d; 
  width: 20%;
  transition: opacity .5s ease;
  opacity: 0;
  font-size: 20%;
  border-radius: 10px;
  margin: 0;
  font-size: 25px;
}

.button_youtube:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

select {
  background-color: white;
  border-left: 1px solid #14af8f;
  border-top: 1px solid #14af8f;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
 

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}