.main-header{
	position: -webkit-sticky;
 	position: sticky;
	top: 0;	
	background-color:#e5e4e4;
	z-index: 2;
}

.main-nav {
	width: 60%;
	border-radius: 50px;
	border-top: 4px solid #14af8f;
	border-left: 2px solid #14af8f;
	border-right: 4px solid  #ea4c89;
	border-bottom: 2px solid  #ea4c89;
	opacity: .9;
	width: 1000px;
}

.main-header  .container {
	justify-content: center;
	width: 40%;
	top: 0;
}
.main-header ul{
	list-style: none;	
}

.main-header nav a{
	color: black;
	font-size: 1.5rem;
	text-decoration: none;

}

.main-header nav a:hover{
	color: #14af8f;
}	
.main-nav .flex-container {
	justify-content:space-around;
}
.phone3{
	position: absolute;
	left: 10%;
	bottom: -40%;
	
}

