.main-header ul{
	list-style: none;
}
.main-header nav a{
	color: #a4a4a4;
	font-size: 0.875rem;
	text-decoration: none;
}

.main-header nav a:hover{
	color: #303030;
}

.main-header ul a{
	padding: 20px;
}

.main-header > .container {
	justify-content:center;
}