.about {
	background-color: #e5e4e4;
}
.about .section-heading h2{
	color: #303030;
	font-size: 2.8125rem;
	font-weight: 900;
	line-height: 1;
	margin: 0;
}
.about .section-heading h3{
	color: #979797;
	font-size: 1.875rem;
	font-weight: 400;
	margin: 0;
}
.about .section-heading p{
	color: #979797;
	font-size: 1.0625rem;
	line-height: 1.2941;
}

.about .section-heading {
	background-color: white;
}

.about .section-heading {
	max-width: 60%;
}
.about .container {
	justify-content:center;
		
}